
#header {
    text-align: center;
    background-color: cornflowerblue;
}

.column_1{
    border:solid black;
}

#cardContainer{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
