#header {
    text-align: center;
}

#cardContainer{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}


#masterContainer{
    margin: auto;
    width: 100%;
    padding: 100px;
}

#topList{
    text-align: center;
    background-color: white;
    text-decoration: none;
}
.form{
   text-align: center;
}

.col1{
    background-color: rgb(126, 176, 250);
}

.col2{
    background-color: rgba(69, 231, 218, 0.911)
}
